body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logged-in-text {
    background-color: white;
    padding: 5px;
    border-radius: 10%;
}

nav a {
    color: white;
    text-decoration: underline;
}

footer {
    margin-top: auto;
    min-height: 30px;
    width: 100%;
    background-color: #2A1A1F;
}